<!doctype html>
<html>
<head>
    <title>LUPSKAN</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/cropped_logo.png"/>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    ul {
        height: 350px;
        overflow: auto;
    }

    li {
        color: grey;
        font-size: small;
    }

</style>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <br>
    <div class="w3-center">
        <img class="w3-center" src="../static/cropped_logo.png" alt="lk_logo" height="100" width="100"/>
    </div>
    <h1 class="w3-wide w3-center">LUPSKAN</h1>
    <h4 class="w3-wide w3-opacity w3-center">The Lupkoin Blockchain Explorer</h4>
</div>

<div class="w3-row">
    <div class="w3-row">
        <label class="w3-ul w3-card-2 w3-col w3-padding" style="width:50%"><b>Latest Blocks</b></label>
        <label class="w3-ul w3-card-2 w3-col w3-padding" style="width:50%"><b>Latest Transactions</b></label>
    </div>

    <ul id="list" class="w3-ul w3-card-4 w3-col" style="width:50%">
    </ul>

    <ul id="transactions" class="w3-ul w3-card-4 w3-col" style="width:50%">
        <li class="w3-padding-large"></li>
    </ul>
</div>

<script>
    $(document).ready(function () {

        var socketio = null;
        var namespace = "/work"
        socketio = io.connect(
            location.protocol +
            '//' +
            document.domain +
            ':' +
            location.port +
            namespace
        );

        socketio.emit("start");
        socketio.on("update", function (msg) {
            var ul = document.getElementById("list");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(msg.msg));
            ul.prepend(li);
        });

        socketio.on("transaction", function (msg) {
            var message = new String(msg.msg);
            transactions = message.split(",");

            transactions.forEach(function(item) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(item));
                document.getElementById("transactions").prepend(li);
            });
        });
    });
</script>

</body>
</html>
